// Mixins in here

.testBorder(){
    border: 1px solid red; 
}

.displayFlex(@direction: row, @justify: space-between, @align: center) {
    display: flex; 
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align; 
}

.btnStyle(@btnColor: @button-bg, @btnCursor: pointer)  { 
    background-color: @btnColor; // changed to correct variable 
    cursor: @btnCursor; 
    width: 90%;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
}